.content {
  width: 100%;
  //   height: calc(100vh - 154px);
  display: flex;
  padding: 0 75px 25px 75px;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;

  border-radius: 30px;
  background: rgba(245, 245, 245, 0.8);
  padding: 0 38px 55px 38px;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 1px solid #f5f5f5;
  padding: 16px 0 10px;
  width: 100%;
}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 36px;
  padding: 36px 29px;
  .title {
    color: #000;
    text-align: center;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
.tableWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 1222px;
  overflow-y: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  font-family: 'Pretendard', sans-serif;
  font-size: 14px;
  table-layout: fixed;
}

/* HEADERS */
.tableHeader {
  background: #47b290;
  height: 60px;
  padding: 19px 22px;

  &:first-child {
    width: 14.37%;

    border-top-left-radius: 20px;
  }

  &:nth-child(2) {
    width: 35.94%;
  }

  &:nth-child(3) {
    width: 28.37%;
  }

  &:last-child {
    width: 21.32%;

    border-top-right-radius: 20px;
  }
}

/* BODY ROWS */
.tableRow {
  height: 60px;
  text-align: center;
  background: #ffffff;
}

.tableCell {
  padding: 19px 22px;
  border: 2px solid #47b290;
}

.tableCell:first-child {
  border-left: none;
}
.tableCell:last-child {
  border-right: none;
}

.tableRow:first-child {
  border-top: none;
}

.tableRow:last-child .tableCell {
  border-bottom: none;
}
.tableRow:last-child .tableCell:first-child {
  border-bottom-left-radius: 20px;
}

.tableRow:last-child .tableCell:last-child {
  border-bottom-right-radius: 20px;
}
